<table class="board">
  <tr>
    <td id="cell_0">
      <%= icon(game.board[0]) %></td>
    <td id="cell_1">
      <%= icon(game.board[1]) %></td>
    <td id="cell_2">
      <%= icon(game.board[2]) %></td>
  </tr>
  <tr>
    <td id="cell_3">
      <%= icon(game.board[3]) %></td>
    <td id="cell_4">
      <%= icon(game.board[4]) %></td>
    <td id="cell_5">
      <%= icon(game.board[5]) %></td>
  </tr>
  <tr>
    <td id="cell_6">
      <%= icon(game.board[6]) %></td>
    <td id="cell_7">
      <%= icon(game.board[7]) %></td>
    <td id="cell_8">
      <%= icon(game.board[8]) %></td>
  </tr>
</table>
