<table class="board">
  <tr>
    <td id="cell_0"><%= game.board[0] %></td>
    <td id="cell_1"><%= game.board[1] %></td>
    <td id="cell_2"><%= game.board[2] %></td>
  </tr>
  <tr>
    <td id="cell_3"><%= game.board[3] %></td>
    <td id="cell_4"><%= game.board[4] %></td>
    <td id="cell_5"><%= game.board[5] %></td>
  </tr>
  <tr>
    <td id="cell_6"><%= game.board[6] %></td>
    <td id="cell_7"><%= game.board[7] %></td>
    <td id="cell_8"><%= game.board[8] %></td>
  </tr>
</table>
