<table class="board">
  <tr>
    <td id="cell_0">
      <span class="board-data"><%= game.board[0] %></span>
      <%= icon(game.board[0]) %></td>
    <td id="cell_1">
      <span class="board-data"><%= game.board[1] %></span>
      <%= icon(game.board[1]) %></td>
    <td id="cell_2">
      <span class="board-data"><%= game.board[2] %></span>
      <%= icon(game.board[2]) %></td>
  </tr>
  <tr>
    <td id="cell_3">
      <span class="board-data"><%= game.board[3] %></span>
      <%= icon(game.board[3]) %></td>
    <td id="cell_4">
      <span class="board-data"><%= game.board[4] %></span>
      <%= icon(game.board[4]) %></td>
    <td id="cell_5">
      <span class="board-data"><%= game.board[5] %></span>
      <%= icon(game.board[5]) %></td>
  </tr>
  <tr>
    <td id="cell_6">
      <span class="board-data"><%= game.board[6] %></span>
      <%= icon(game.board[6]) %></td>
    <td id="cell_7">
      <span class="board-data"><%= game.board[7] %></span>
      <%= icon(game.board[7]) %></td>
    <td id="cell_8">
      <span class="board-data"><%= game.board[8] %></span>
      <%= icon(game.board[8]) %></td>
  </tr>
</table>
